.moviedetails__container {
  background-color: #0c0d0f;
}

.moviedetails__container .moviedetails__header {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.moviedetails__container .moviedetails__header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.moviedetails__container .moviedetails__header .moviedetails__header-vignette {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
}

.moviedetails__container .moviedetails__header .top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  top: 0;
  height: 50%;
}

.moviedetails__container .moviedetails__header .bottom {
  background: -webkit-gradient(linear, left bottom, left top, from(#0c0d0f), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #0c0d0f, rgba(0, 0, 0, 0));
  height: 60%;
  bottom: 0;
}

.moviedetails__container .moviedetails__details {
  margin-top: -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6em;
  padding: 0em 12em;
  position: relative;
  z-index: 20;
}

.moviedetails__container .moviedetails__details .moviedetails__left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.moviedetails__container .moviedetails__details .moviedetails__left img {
  width: 100%;
  min-width: 250px;
  border-radius: 25px;
}

.moviedetails__container .moviedetails__details .moviedetails__left .moviedetails__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.moviedetails__container .moviedetails__details .moviedetails__left .moviedetails__rating p {
  color: rgba(255, 255, 255, 0.75);
}

.moviedetails__container .moviedetails__details .moviedetails__center,
.moviedetails__container .moviedetails__details .moviedetails__right {
  margin-top: 4em;
}

.moviedetails__container .moviedetails__details .moviedetails__center {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}

.moviedetails__container .moviedetails__details .moviedetails__center p {
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.75);
}

.moviedetails__container .moviedetails__details .moviedetails__center hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.moviedetails__container .moviedetails__details .moviedetails__center .moviedetails__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.moviedetails__container .moviedetails__details .moviedetails__center .moviedetails__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.moviedetails__container .moviedetails__details .moviedetails__center .moviedetails__info .moviedetails__genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.moviedetails__container .moviedetails__details .moviedetails__right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.moviedetails__container .moviedetails__details .moviedetails__right .moviedetails__cast-crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75em;
}

.moviedetails__container .moviedetails__trailer,
.moviedetails__container .moviedetails__related {
  padding: 4em 12em 4em 12em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
/*# sourceMappingURL=MovieDetails.css.map */