@import "../../utilities/variables";

.movielist__container {
    width: 100%;
    position: relative;

    .movielist__buttons {
        width: 100%;
        height: 100%;
        padding: 0em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 3;

        .movielist__arrow {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(4em);
            border-radius: 50%;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
                cursor: pointer;
            }
        }
    }

    .movielist__cards {
        width: 100%;
        // display: flex;
        // flex-wrap: nowrap;
        // overflow-x: scroll;
        // scrollbar-width: none;
        // justify-content: space-between;
        align-items: center;
        // margin: 0em 1em;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.slick-slide div {
    margin: 0 10px;
}

.slick-slide .movie__vignette,
.slick-slide .movie__details {
    margin: 0px;
}

.slick-list {
    margin: 0 -10px;
}
