// Colour Pallette
$background: rgb(12, 13, 15);
$footerBackground: #121317;
$text: rgb(255, 255, 255);
$subtext: rgba(255, 255, 255, 0.75);
$tmdbBlue: #0ae0ce;
$tmdbGreen: #8af3b2;

// Typography
$sansSerifMain: "Inter", sans-serif;
$fontSizeH1: 3rem;
$fontSizeH3: 1.6rem;
$fontSizeP: 1rem;

// Window sizes
$desktop: 1366px;
$tablet: 1100px;
$SMLtablet: 600px;
$phone: 360px;
