.home__container {
  background-color: #0c0d0f;
}

.home__container .home__header {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.home__container .home__header .home__header-content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2em 10em;
}

.home__container .home__header .home__header-content .home__header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2em;
  width: 66%;
}

.home__container .home__header .home__header-content .home__header-details h1 {
  font-size: 3rem;
}

.home__container .home__header .home__header-content .home__header-details p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.home__container .home__header .home__header-content .home__header-details .home__header-poster {
  min-width: 300px;
  width: 350px;
  overflow: hidden;
  border-radius: 20px;
}

.home__container .home__header .home__header-content .home__header-details .home__header-poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__container .home__header .home__header-content .home__header-details .home__header-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4em;
}

.home__container .home__header .home__header-content .home__header-details .home__header-heading .home__header-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.home__container .home__header .home__header-content .home__header-trailers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2em;
  width: 33%;
}

.home__container .home__header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home__container .home__header .home__header-vignette {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
}

.home__container .home__header .top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  top: 0;
  height: 50%;
}

.home__container .home__header .bottom {
  background: -webkit-gradient(linear, left bottom, left top, from(#0c0d0f), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #0c0d0f, rgba(0, 0, 0, 0));
  height: 60%;
  bottom: 0;
}

.home__container .home__content {
  padding: 6em 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6em;
}

.home__container .home__content .home__content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0em;
}

.home__container .home__content .home__content-section h3 {
  font-size: 1.6rem;
}

.home__container .home__content .home__content-section .home__content-actors {
  width: 100%;
}

@media only screen and (max-width: 1600px) {
  .home__container .home__content {
    padding: 6em 6em;
  }
  .home__container .home__header .home__header-content {
    padding: 2em 6em;
  }
}

@media only screen and (max-width: 1200px) {
  .home__container .home__header .home__header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home__container .home__header .home__header-content .home__header-details {
    height: 75%;
  }
  .home__container .home__header .home__header-content .home__header-details .home__header-poster {
    min-width: 200px;
    width: 250px;
  }
  .home__container .home__header .home__header-content .home__header-trailers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .home__container .home__header .home__header-content {
    display: block;
    margin-bottom: 3em;
  }
  .home__container .home__header .home__header-content .home__header-details {
    height: 100%;
  }
  .home__container .home__header .home__header-content .home__header-details .home__header-poster {
    display: none;
  }
  .home__container .home__header .home__header-content .home__header-trailers {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .home__container .home__content {
    padding: 6em 2em;
  }
  .home__container .home__header .home__header-content {
    padding: 2em 2em;
  }
}
/*# sourceMappingURL=HomePage.css.map */