@import "../../utilities/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $sansSerifMain;
    color: $text;
}

.App {
    .app__navbar {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
    }
}
