@import "../../utilities/variables";

.movies__container {
    padding: 10em 12em 2em 12em;
    background-color: $background;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    min-height: 100vh;

    .movies__header {
        width: 100%;
    }

    .movies__genres {
        width: 80%;
    }

    .movies__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    @media only screen and (max-width: 1400px) {
        padding: 10em 8em 2em 8em;
    }

    @media only screen and (max-width: 1000px) {
        padding: 10em 4em 2em 4em;
    }

    @media only screen and (max-width: 800px) {
        padding: 10em 2em 2em 2em;
    }
}
